name: compile
on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - uses: aseprite/get-ninja@main
    - uses: ilammy/msvc-dev-cmd@v1

    - name: Install Skia
      shell: bash
      run: |
        this_dir="${{ github.workspace }}"
        skia_url=$(source $this_dir/laf/misc/skia-url.sh | xargs)
        skia_file=$(basename $skia_url)
        curl --ssl-revoke-best-effort -L -o "$skia_file" "$skia_url"
        unzip "$skia_file" -d skia

    - name: Generate Makefiles
      shell: bash
      run: |
        cmake -S . -B build -G Ninja \
          -DCMAKE_BUILD_TYPE=RelWithDebInfo \
          -DENABLE_TESTS=OFF \
          -DENABLE_SCRIPTING=on \
          -DENABLE_CCACHE=off \
          -DLAF_BACKEND=skia \
          -DSKIA_DIR=$(realpath skia) \
          -DSKIA_LIBRARY_DIR=$(realpath skia/out/Release-x64)

    - name: Build
      shell: bash
      run: |
        cd build && ninja
    - name: Upload App
      uses: actions/upload-artifact@v4
      with:
        name: windows-build
        path: build/bin/
        
